# Track heavy binary blobs with Git LFS for future commits
Task1-Edge-AI/Image_Dataset/TrashType_Image_Dataset/** filter=lfs diff=lfs merge=lfs -text
Task1-Edge-AI/model.tflite filter=lfs diff=lfs merge=lfs -text

